<%= javascript_include_tag "mat_edit_controls.js" %>

<h1>Battle Mat Control</h1>

<ul id="mat-edit-actions-list">
	<li>
		<div class="container-prompt">
			<div class="button-images" onclick="toggle_dropdown('prompt-select-tile')">
				&#8595; Select Tile...
			</div>
			<div class="prompt-dropdown" id="prompt-select-tile">
				<% if @tiles.size > 0 then %>
					<ul>
						<% @tiles.each do |t| %>
							<li>
								<img src="/images/textures/tiles/<%= t %>" onclick="$('prompt-select-tile').style.display = 'none';"/>
							</li>
						<% end %>
					</ul>
				<% else %>
					<p>
						No tile images yet. Please put some image files
						into <strong>/public/images/textures/tiles</strong>.
					</p>
				<% end %>
			</div>
		</div>
	</li>
	<li>
		<div class="container-prompt">
			<div class="button-image" onclick="toggle_dropdown('prompt-select-background');">
				&#8595; Select Background...
			</div>
			<div class="prompt-dropdown" id="prompt-select-background">
				<% if @backgrounds.length > 0 then %>
					<ul>
						<% @backgrounds.each do |b| %>
							<li>
								<img src="/images/textures/backgrounds/<%= b %>" onclick="set_mat_background('/images/textures/backgrounds/<%= b %>'); toggle_dropdown(null);" />
							</li>
						<% end %>
					</ul>
				<% else %>
					<p>
						No background images yet. Please put some image files
						into <strong>/public/images/textures/backgrounds</strong>.
					</p>
				<% end %>
			</div>
		</div>
	</li>
</ul>


<!-- This is the preview/edit container that displays the miniature mat -->
<p>
	<strong>Current Mat Dimensions:</strong>
	Width <strong><a href="#" onclick="mat_modify_column_count(-1);">-</a></strong>[<strong><span id="mat-y-dimension"><%= @mat.y_dimension %></span></strong>]<strong><a href="#" onclick="mat_modify_column_count(1);">+</a></strong>
	Height <strong><a href="#" onclick="mat_modify_row_count(-1);">-</a></strong>[<strong><span id="mat-x-dimension"><%= @mat.x_dimension %></span></strong>]<strong><a href="#" onclick="mat_modify_row_count(1);">+</a></strong>
</p>
<div id="mat-mini-container" style="background-image: url('/images/textures/backgrounds/<%= @mat.background %>')">
	<table id="mini-mat">
		<% 1.upto(@mat.x_dimension) do |x| %>
			<tr id="mini-mat-row-<%= x %>">
				<% 1.upto(@mat.y_dimension) do |y| %>
					<td id="mini-mat-cell-<%= x %>x<%= y %>">
						<img src="/images/textures/tiles/Spacer.png" class="spacer" alt="Spacer" id="mini-mat-tile-<%= x %>x<%= y %>" />
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div> 


<!--
	Miscellaneous controls: Text box for mat description change, and the
	"save mat" button
-->
<div id="mat-description-and-save-container">
	<% form_for(:mat, @mat, :url => { :action => "update" },
			:html => {
				:id => "mat-change-description-form",
				:method => :put
			}) do |f| %>
		<label for="description">Mat Description</label><br/>
		<%= f.text_area :description, :rows => "3", :cols => "50" %>
		<br />
		<div class="button-ok" onclick="save_mat($('mat-change-description-form')); toggle_dropdown(null);">
			(Save Description and Layout)
		</div>&nbsp;
		<div class="button-cancel" onclick="toggle_dropdown(null);"></div>
	<% end %>
</div>

<!-- This loads the actual mat window -->
<script type="application/javascript">
 	open_battle_mat_window("<%= params[:id] %>");
</script>