<!DOCTYPE html>
<html>
<head>
  <title>Digitalbattlemat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.js"></script>
</head>
<body>
  <div id="navigation-box">
    <span id="logo"><%= image_tag 'Logo.png' %></span>
    <ul>
      <li><a href="<%= url_for controller: :characters %>"><span class="navicon"><%= image_tag 'Icon-Characters.png' %></span>Characters</a></li>
      <li class="<%= params[:controller] == "mats" ? "active" : "" %>">
        <a href="<%= url_for controller: :mats %>">
          <span class="navicon"><%= image_tag 'Icon-Swords.png' %></span>
          Battle Screen
        </a>
      </li>
      <li><a href="#"><span class="navicon"><%= image_tag 'Icon-Maps.png' %></span>Maps</a></li>
    </ul>
  </div>
  <div id="content-box">
    <%= yield %>
  </div>

</body>
</html>
