<html>
	<head>
		<title>Digital Battle Mat</title>
		<%= stylesheet_link_tag 'fonts' %>
		<%= stylesheet_link_tag 'buttons' %>
		<%= stylesheet_link_tag 'dialogues' %>
		<%= stylesheet_link_tag 'mat_elements' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<!-- This is the shadow, which can be globally enabled or disabled -->
		<div id="shadow"></div>
		<%= yield %>
	</body>
</html>